.box1 {
    width: 300px;
    height: 400px;
    background-color: #2F8141;
    margin-bottom: 15px;
}
.box2 {
    width:571px ;
    height:140px ;
    background-color: #13513B;
    margin-bottom: 15px;
}
.box3 {
    width: 571px;
    height:140px ;
    background-color:#E624BB ;
    margin-bottom: 15px;
}
.box4 {
    width:571px ;
    height:140px ;
    background-color:#55EF0D ;
    margin-bottom: 15px;
}